@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1A73E8;
  --secondary-color: #FFA26B;
  --accent-color: #20C997;
}

@layer base {
  body {
    @apply text-gray-800 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 0.8s ease-in-out;
  }
  
  .animate-fadeDown {
    animation: fadeDown 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}